

.normal-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */


.common-color{
    color: #4E47FF;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.primary-btn{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}
button:hover{
    background-color: yellowgreen;
    color:grey;
}

.header{
    background-image: url('Assets/Hero-bg.png');
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title{
    font-weight: bolder;
    font-size: 34px;   
}

.banner-content{
    margin: 150px 267.5px 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.second-btn{
    margin: 37px 633px 152px;
}


.action{
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.section-title2{
    margin: 50px 301px 0px 283px;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.para1{
    margin: 23px 0;
}

.second-section{
    max-width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color: #deddf6;
}
main h4{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    /* padding-bottom: 10px; */
}

.users-info{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;  
    align-items: center;  
    align-content: center;
}
.data{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 0;
    margin-bottom: 10px;
}
.second-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.cards{
    margin: 0 auto;
    max-width: 1140px;
    height: 243px;
    display: flex;
    gap: 24px;
}
.img-action{
    display: flex;
}
.card{
    background-color: #F2EDED;
    padding: 24px;
}
.cards h5{
    font-family: sans-serif;
}